@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */
html, body {
    background:#eaeaea url(../img/fondo.jpg)no-repeat;
    background-size: 100%;
    background-position-y: -45% ;
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.6);
}


/* --------------------------------------------------------------------------------- */
section.logo {
    font-size: 450%;
    font-weight: bold;
  color: white;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: black;
    font-family: 'Sigmar One', cursive;
    text-decoration: none;
    }
p.titulo{
    color: white;
    text-decoration: none;
    border: 0px solid black;
}
header{
    background:url(../img/fondopizarra.jpg);
    background-size: 60%;
    background-position-y:60%;
    background-position-x:50%;
    text-align: center;
    height: 80000000%;
   
    
}
ul#menu1 {
    padding: 0;
}

ul#menu1 li {
    display: inline;
}

ul#menu1 li a {
    background-color:rgb(145, 171, 245);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a {
    background-color:orange;
    color: white;
    padding: 100px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color:black;
}
ul#menu1 li a:hover {
    background-color:rgb(40, 198, 219);
}
ul#menu li {
    display: inline;
}


/* NAV */
nav.nav {
    background:whitesmoke;
    background-position-y: 0px;
    height: 2cm;
    background-size: 100%;
}
#td1 {
    width: 90%;
}
#table1 {
    text-align: center;
    color: rgb(3, 3, 209);
}
#article1 {
    text-align: center;
}
#imgportada {
    width: 70%;
    height: 70%;
}
#footer1 {
    background-color: grey;
    text-align: center;
}
#pfooter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}
#td2 {
    width: 90%;
    font-size: 150%;

}
#table2 {
    text-align: center;
    color: rgb(3, 3, 209);
}
#table3 {
    text-align: center;
    color: rgb(3, 3, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(170, 161, 161);
}


/* texto portada */
p.calidad{
    z-index: 20;
    color: black;
}
p.espacios{
    z-index: 20;
    color: black;
}
p.necesidad{
    z-index: 20;
    color: black;
}
/* imagnes logos titulos */
img.izquierda{
    position: absolute;
    top:5.5%;
    left:16%;
    width: 7.5%;
    border:4px solid black;}
img.derecha{
    position: absolute;
    right: 16%;
    top:5.5%;
    width: 7.5%;
    border:4px solid black;
}

.logo a {
    text-decoration: none;
}

/* imagenes portada */
img.exterior{
    width: 30%;
    height:0%;
    z-index:0;
    border: 4px solid black
}
section.exterior{
    text-align: center;
}


/* Pie de pagina */
footer{
    color: black;
    text-align: center;

}
p.foot{
    text-align: center;
    text-transform: uppercase;
    color: rgb(44, 44, 49);
}
section.social{
    color: aquamarine;
}

/* logos redes sociales */
img.instagram{
    width: 2cm;
    height: 2cm;
}
img.facebook{
    width: 1.5cm;
    height: 1.5cm;
    margin-bottom: 7px;
}
img.google{
    width: 1.2cm;
    height: 1.2cm;
    margin-bottom: 14px;
    margin-left: 12px;
}

img.pinterest{
    width: 1.3cm;
    height: 1.3cm;
    margin-bottom: 13px;
    margin-left: 12px;
}
img.Twitter{
    width: 1.2cm;
    height: 1.2cm;
    margin-bottom: 13px;
    margin-left: 12px;
}

/* ----------------------------------------------------------------------------------------------------------------- */