@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */




/* fondo */
body{
    background: url(../img/fondos/fondo\ largo.png)repeat-y;
    background-size: 100%;
}
    
html, body {
    background-size: 100%;
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.6);	
}
	
/* Estilo de las fotos */
section.foto {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}

/* Estilos de las section de texto */
section.informacion {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 8%;
    margin-left: 4%;
    padding: 10px;
    border-radius: 7px;
}
section.informacion2 {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 7%;
    margin-left: 4%;
    padding: 10px;
    border-radius: 7px;
}
section.informacion3 {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 4%;
    padding: 10px;
    border-radius: 7px;
}
/* Estilos sobre lainformacion de la empresa */
section.empresa1 {
    color: black;
    float: right;
    margin-top: 7%;
    margin-left: 5%;
    border: 4px dashed grey;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 7px;
}

section.empresa2 {
    color: black;
    float: right;
    margin-top: 7%;
    margin-left: 5%;
    border: 4px dashed grey;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 7px;
}
section.empresa3 {
    color: black;
    float: right;
    margin-top: 7%;
    margin-left: 5%;
    border: 4px dashed grey;
    width: 50%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 7px;
}
/* Estilo sobre las fotos de la empresa */

section.foto1 {
    float: left;
    margin-top: 6%;
    margin-left: 4%
}
section.foto2{
    float: left;
    margin-top: 6%;
    margin-left: 4%
}
section.foto3{
    float: left;
    margin-top: 6%;
    margin-left: 4%
}
footer {
    position: absolute;
    top: 250%;
}