@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */

.exterior{
    width: 1400px;
    position: absolute;
    top:20%;
}
p{
    position: absolute;
    right: 5%;
    line-height: 150%;
    font-family: sans-serif;
}

.calidad{
    color:black;
    position: absolute;
    top:20%;
    left: 70%;

}
.espacios{
    color:black;
    position: absolute;
    top:26%;
    left: 70%;
}
.necesidad{
    color:black;
    position: absolute;
    top:33%;
    left: 70%;
}
