@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */
body{
    background: url(../img/fondos/fondo\ largo.png)repeat-y;
    background-size: 100%;
}
html, body {
    
    background-size: 100%;
    
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.6);
	
}
p.psect {
    color: black;
    font-size: 1.5rem;
    background-color: rgb(211, 147, 147) transparent;
    border: 2px black;
}
article {
    padding: 20px;
    width: 20%;
    height: 20%;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;   
} 
article:hover {
    width: 25%;
    height: 25%;
    z-index: 3;
       
}
article.topleft {
    position: absolute;
    top: 50%;
    left: 5%;
    background: url(../img/jejotes.jpg);   
    background-size: 100%;
    border: 3px solid black;
}
article.topriht {
    position: absolute;
    top: 50%;
    right: 15%;
    background: url(../img/Complejo\ Deportivo\ Abastos\ -bajo\ peso.JPG);
    background-size: 100%;
    border: 3px solid black;
}
article.middle {
    position: absolute;
    top: 65%;
    left: 35%;
    background: url(../img/abastosexterior.jpg);
    background-size: 100%;
    z-index: 2;
    border: 3px solid black;
}
article.bottomleft{
    position: absolute;
    top: 90%;
    left: 5%;
    background: url(../img/IMG_20190205_145246.jpg);
    background-size: 100%;
    border: 3px solid black;
}

article.bottomright {
    position: absolute;
    top: 90%;
    right: 15%;
    background: url(../img/Cafeteria1.jpg);
    background-size: 100%;
    z-index: 2;
    border: 3px solid black;
}
footer {
    position: absolute;
    top: 120%;
}

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
  
    
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: rgb(255, 255, 255);opacity: 0.5;
    color: white;
    border-radius : 30% ;
    
  }
 
  .hvr-fade:hover{
    z-index:1;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
  }

  .hvr-fade:hover { 
	opacity: 100;
} 

.hvr-fade { 
	z-index:1;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
    opacity:.70;
    
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active { 
	opacity: 100;
}
/* prueba */


/* arriba izquierda */
.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  * {
    margin:0;
    padding:0;
    color:#fff;
    font-family:Arial;
  }
  
  div#imagen {
    width: 500px;
    height: 300px;
    background-size: cover;/*sólo para ejemplo*/
    background-image: url(../img/jejotes.jpg);
    margin: 30px auto;
    position: absolute;
    top: 20%;
    left: 5%;
    background: url(../img/jejotes.jpg);   
    background-size: 100%;
    border: 3px solid black;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 500px;
    height: 300px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
  }
  
  div#imagen:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
  }
  
  div#imagen:hover p#descripcion {
    margin-top: 75px;
  }


  /* 2 */



  .desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  * {
    margin:0;
    padding:0;
    color:#fff;
    font-family:Arial;
  }
  
  div#imagen2 {
    width: 500px;
    height: 300px;
    background-size: cover;/*sólo para ejemplo*/
    margin: 30px auto;
    position: absolute;
    top: 20%;
    right: 5%;
    background: url(../img/Complejo\ Deportivo\ Abastos\ -bajo\ peso.JPG);
    background-size: 100%;
    border: 3px solid black;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen2:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
  }
  
  div#imagen2:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
  }
  
  div#imagen2:hover p#descripcion {
    margin-top: 75px;
  }


  /* 3 */



  .desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  * {
    margin:0;
    padding:0;
    color:#fff;
    font-family:Arial;
  }
  
  div#imagen3 {
    width: 500px;
    height: 300px;
    background-size: cover;/*sólo para ejemplo*/
    margin: 30px auto;
    position: absolute;
   
    
    background-size: 100%;
    border: 3px solid black;
    position: absolute;
    top: 55%;
    left: 36.6%;
    background: url(../img/abastosexterior.jpg);
    background-size: 100%;
    z-index: 2;
    border: 3px solid black;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen3:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
  }
  
  div#imagen3:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
  }
  
  div#imagen3:hover p#descripcion {
    margin-top: 75px;
  }
   
   
    /* 4 */

.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  * {
    margin:0;
    padding:0;
    color:#fff;
    font-family:Arial;
  }
  
  div#imagen4 {
    width: 500px;
    height: 300px;
    background-size: cover;/*sólo para ejemplo*/
    margin: 30px auto;
    position: absolute;
   
    position: absolute;
    top: 90%;
    left: 5%;
    background: url(../img/IMG_20190205_145246.jpg);
    background-size: 100%;
    border: 3px solid black;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen4:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
  }
  
  div#imagen4:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
  }
  
  div#imagen4:hover p#descripcion {
    margin-top: 75px;
  }


   /* 5 */

.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  * {
    margin:0;
    padding:0;
    color:#fff;
    font-family:Arial;
  }
  
  div#imagen5 {
    width: 500px;
    height: 300px;
    background-size: cover;/*sólo para ejemplo*/
    margin: 30px auto;
    position: absolute;
   
    position: absolute;
    top: 90%;
    right: 5%;
    background: url(../img/Cafeteria1.jpg);
    background-size: 100%;
    z-index: 2;
    border: 3px solid black;
  }
  
  div#info {
    position:absolute;
    overflow:hidden;
    width: 300px;
    height: 200px;
    background-color: rgba(31, 31, 31, 0.9);
    opacity:0;
    transition: opacity 0.3s;
  }
  
  div#imagen5:hover div#info {
    opacity:1;
  }
  
  p#headline {
    position: absolute;
    font-size: 1.5rem;
    margin-left: -75px;
    margin-top: 15px;
    transition: margin-left 0.3s;
  }
  
  div#imagen5:hover p#headline {
    margin-left: 115px;
  }
  
  p#descripcion {
    font-size: 1rem;
    text-align: center;
    margin-top: 200px;
    transition: margin-top 0.4s;
  }
  
  div#imagen5:hover p#descripcion {
    margin-top: 75px;
  }