@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */

body{
    background: url(../img/fondos/fondo\ largo.png)repeat-y;
    background-size: 100%;
}
html, body {
    
    background-size: 100%;
    
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:rgba(255,255,255,0.6);
	
}
section.registro {
    background: url(../img/background2-1024x640.jpg);
    border: 5px grey dotted;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}
.registro form {
    color: rgb(219, 216, 216);
    font-size: 1.5rem;
    text-align: justify;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.registro h1 {
    color: rgb(219, 216, 216);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px grey;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.registro img {
    float: right;
}
section.contacto {
    background: url(../img/background2-1024x640.jpg);
    border: 5px dashed grey;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.contacto h1{
    color: rgb(219, 216, 216);
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px grey;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(219, 216, 216);
    font-size: 1.5rem;
    text-align: center;
    border-spacing: 50px 30px;
    column-rule: grey groove 3px;
    columns: 2; 
}
a {
    color: rgb(219, 216, 216);
}
footer{
    top: 170%;
}