@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */
body{
    background:#FCFAFA;
}

ul, ol {
    list-style:none;
}
.nav > li {
    float:left;
}
.nav li a {
    background-color:#FCFAFA;
    color:black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li a:hover {
    background-color:#057BCB;
    color:white;
}
.nav{
    position: absolute;
    right:5%;
    top: 10%;
}
.logo{
    position: absolute;
    left: 0%;
}