@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */
body{
    background-color: white;
}
header {
    background-color: #0A1A21;
}
h1 {
    text-align: center;
}
ul, ol {
    list-style: none;
}