@charset "utf-8";
/* Trabajo desarrollado por Javi Gonzalez, Maria Rocafull y Enrique Guaita */
/*               Desarrollo de una página web Espai Abastos                */
/* Esta página se desarrolla los estilos de la página web a realizar       */
section.informacion {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
}
section.foto {
    float: right;
    margin-right: 300px;
    margin-top: 50px;
}
section.informacion2 {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 200px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
}
section.informacion3 {
    color: black;
    font-size: 1.2rem;
    border: 4px dashed grey;
    width: 50%;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 7px;
}
